@mixin tran($type, $color, $percentage) {
    @if $type == color {
        color: trans($color, $percentage);
        color: rgba($color, $percentage);
    }
    @if $type == bg {
        background-color: trans($color, $percentage);
        background-color: rgba($color, $percentage);
    }
}