$font-body: 			"Helvetica Neue", "Helvetica", sans-serif;
$font-headings: 	"Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
$font-icons: 			"fontawesome-webfont";

$font-primary: 		$font-headings;
$font-secondary:  $font-body;