#{$edit-me}-form {
	@include border-radius(6px);
	display: table;
	
	padding: 2em;
	background-color: $color-grey_lighter;
	text-shadow: 1px 1px 0 $color-grey_Xlight;

	@include box-shadow(inset 0 0 0 4px #d2d2d2, inset 0 0 3px 6px #c9c9c9);

	input {
		width: 20em;
	}

	input,
	textarea {
		padding: 0.3em;
		font-size: 14px;
		font-weight: 200;
		@include border-radius(3px);
		border: 1px solid #b9b9b9;

		&:focus {
			outline-offset: -2px;
			outline: $color-secondary auto 5px;
		}
	}

	label {
		margin: 0.4em 1.5em 0.8em 0;
		clear: both;
		font-family: $font-headings;
	}

	.submit {
		margin-top: 1.6em;
		padding: 0.8em 0.4em;
		font-family: $font-headings;
		font-size: 1.1em;
	}

}// form