li {
	margin-bottom: 0.5em;
}

.flush-left {
	margin-left: 0;
}

.hyphens {
	margin-left: 1.2em;
	list-style: none;
	text-indent: -5px;

	li:before {
		content: "-";
		position:relative;
		left:-5px
	}
}