/* ---------------- */
/* 	Import fonts	*/
/* ---------------- */

@include font-face(#{$edit-me});
@include font-face($font-icons);


/* ---------------- */
/* 	  Set styles	*/
/* ---------------- */

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	color: $color-text;
	font-size: $base-font-size;
	text-align: left;
	font-style: normal;
	text-rendering: optimizeLegibility;
	letter-spacing: 0.05em;

	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 2.3em;
	}
	h3 {
		font-size: 1.8em;
	}
	h4 {
		font-size: 1.5em;
	}
	h5 {
		font-size: 1.3em;
	}
	h6 {
		font-size: 1em;
	}

}// body


small {
	font-size: 80%;
	line-height: 1.2;
	display: block;
}


h1,
h2,
h3
h4,
h5,
h6 {
	font-family: $font-headings;
	color: $color-headings;
	font-style: normal;
	line-height: 0.9em;

	small {
	  font-size: 80%;
	  color: lighten($color-text, 30%);
	  line-height: 0;
	}

}


h3, h4, h5, h6 {
	color: lighten($color-text, 10%);
	margin-bottom: 1.2em;
}

// There might be a better way to write this- but it works
h1+h2, h2+h3, h3+h4 h4+h5, h5+h6{
	margin-top: 0;
}


//I've broken it into two parts
//so as to reduce the specificity of the rule
a {
	color: blue;
}
a:visited {
	color: blue;
}

